
*.compiled
*.o
*.ppu
*.exe
*.obj
components/lz_SynEditDsg/lib/x86_64-win64/win32/syndesignstringconstants.rsj
components/lz_SynEditDsg/lib/x86_64-win64/win32/syneditlazdsgn.res
components/lz_SynEditDsg/lib/x86_64-win64/win32/synpropertyeditobjectlist.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/AllVisualPlanItRegister.res
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpalarmdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpbase.res
components/pl_VisualPlanIt/lib/x86_64-win64/win32/VpCaoEvntEditDlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/VpCaoTaskEditDlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpcontacteditdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpdatepropedit.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpedelem.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpedfmt.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpedfmtlst.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpedshape.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpevnteditdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpflxdsed1.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpnabed.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpprtprvdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpreseditdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpselresdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpsr.rsj
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vptaskeditdlg.frm
components/pl_VisualPlanIt/lib/x86_64-win64/win32/vpwavdlg.frm
components/VolgaPak/lib/x86_64-win64/win32/VOLCALC.RES
components/VolgaPak/lib/x86_64-win64/win32/VolDBConst.rsj
components/VolgaPak/lib/x86_64-win64/win32/VOLDBEDIT.RES
lib/x86_64-win64/FakturaOS_DB.res
lib/x86_64-win64/libimpCAO_TOOL1.a
lib/x86_64-win64/msxml2_tlb.rsj
lib/x86_64-win64/*.frm
BACKUP/*.*
BACKUP/Faktura/*.*
DTA/*.*
EXPORT/*.*
LOG/*.*
TMP/*.*
DLLs/*.*
DLLs/32bit/*.*
DLLs/64bit/*.*
